backports.entry-points-selectable==1.1.1
certifi==2021.10.8
charset-normalizer==2.0.12
decouple==0.0.7
distlib==0.3.3
djangorestframework==3.13.1
filelock==3.4.0
gunicorn==20.1.0
idna==3.3
ipython-genutils==0.2.0
numpy==1.22.0
pandas==1.4.1
Pillow==8.4.0
pipenv==2021.11.23
platformdirs==2.4.0
pytz==2021.3
requests==2.27.1
scikit-learn==1.0.2
scipy==1.7.3
sip==4.19.13
threadpoolctl==3.0.0
urllib3==1.26.8
virtualenv==20.10.0
virtualenv-clone==0.5.7
webencodings==0.5.1
whitenoise==6.0.0
xmltodict==0.12.0
